.in-line-items {
  display: flex;
}

.all-projects {
  border-bottom: 3px solid $main-blue;
  color: $main-blue;
  padding: 0.75rem 1.5rem;
}

.my-projects {
  padding: 0.75rem  1.5rem;
}

.head-border-bottom {
  border-bottom: 2px solid $shadow-body;
  margin: 2rem 0;
}

.project-cost {
  background-color: $background-yellow-light;
  font-size: 1rem;
  min-width: 10rem;
  padding: 1rem;
  text-align: center;
}

.project-title {
  font-size: 1.9rem;
  padding: 0 1rem;
}

.project-expires {
  color: $light-gray;
  font-size: 0.8125rem;
  margin-bottom: 1.25rem;
  margin-right: 2rem;
  margin-top: 1rem;
}

.project-company-name {
  background-color: $shadow-body;
  margin: 0.2rem 0;
  padding: 0.2rem 1.5rem;
}

.gray-text {
  color: $gray;
  font-size: 0.8rem;
}


.disable-sides-margin {
  margin: 1rem 0;
  min-height: 9rem;
  padding: 1rem;
  width: 100%;
}

.project-skills {
  margin-top: 1.75rem;
}

.project-skills-title {
  margin: 0.5rem 0;
}

.project-skills-item {
  background-color: $skills-blue-opacity;
  color: $footer-blue;
  margin-right: 0.5rem;
  padding: 0.2rem 1rem;
}

.project-apply-text {
  color: $black-color;
  width: 10rem;
}

.project-comments-title {
  background-color: $background-light-gray;
  border-bottom: 2px solid $light-gray;
  font-size: 1.5rem;
  margin: 2rem 0;
  text-align: left;
}

.project-button-position {
  margin-top: 0;
}

.project-backlink-margin {
  margin: 2rem 0;
}

.project-edit-links {
  background-color: $shadow-body;
  font-size: 1rem;
  padding: 0 2rem;

}

.project-comment-item-own-name {
  background-color: $background-light-gray;
}

.project-comment-item {
  border: 2px solid $shadow-body;
  margin: 0.5rem 2rem;
  min-height: 4rem;
  width: 95%;
}

.project-comment-owner {
  color: $footer-blue;
  font-size: 1.2rem;
  font-style: italic;
  margin-left: 2rem;
}


.project-comment-created-at {
  margin-bottom: 0;
  margin-left: 1rem;
  text-align: right;
}

.project-comment-content {
  min-height: 1rem;
  padding-left: 1rem;
}
