.choice-input {
  display: flex;
  flex-direction: column;

  &__field {
    border: 2px solid #bbbbbb;
    font-size: 2ch;
    height: 6.5ch;
    margin-bottom: -0.2ch;
    outline: none;
    padding: 2ch;
    width: 55ch;
    opacity: 0.4;

    &::placeholder{
      color: #9D9ca2;
  }
 }
}
