.choice-text {
  text-align: center;
  margin-top: -15vh;

  &__main {
    width: 30ch;
    font-size: 5ch;
    color: #000000;
    opacity: 0.7;
  }

  &__muted {
    padding: 3ch;
    font-size: 2ch;
    opacity: 0.4;
    color: #000000;
  }
}
