.choice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 87vh;
  justify-content: center;

  &__text {
    margin-top: -20vh;
  }

  &__buttons {
    display: flex;
    margin: 5vh;
  }

  &__buttons__button {
    background-color: $white-color;
    border: 2px solid $main-blue;
    color: $main-blue;
    margin: 2vh;
    width: 25ch;

    &:hover {
      color: $white-color;
    }
  }
}
