.choice-text {
  margin-top: -15vh;
  text-align: center;

  &__main {
    color: $black-color;
    font-size: 5ch;
    opacity: 0.7;
    width: 30ch;
  }

  &__muted {
    color: $black-color;
    font-size: 2ch;
    opacity: 0.4;
    padding: 3ch;
  }
}
