.customer {
  display: flex;

  &__body {
    background-color: $background-light-gray;
    width: 100%;
  }

  &-body-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }


  &__apply-item {
    background-color: $white-color;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.5rem 0 rgba($black-color-specific, 0.15);
    margin-top: 2.5rem;
    min-height: 17rem;
    min-width: 34.5rem;

    &:hover {
      bottom: 0.25rem;
      box-shadow: 0 0.2rem 0.3rem 0.2rem rgba($black-color-specific, 0.1);
      position: relative;
      top: -0.3rem;
    }
  }
}

.apply-card {
  margin: 1.5rem 1rem 0;

  &-head {
    background-color: #E5ECF9;
    display: flex;
    min-height: 1.5rem;
    margin-bottom: 0.75rem;

    &-title {
      width: 30rem;
    }
  }

  &-info {
    background-color: #f7cfcf;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    &-type {
      width: 9.5rem;
    }

    &-time {
      font-size: 0.75rem;
      max-width: 11rem;
      min-width: 9.4375rem;
      padding-top: 0.2rem;
    }

  }

  &-body {
    background-color: #C6D880;
    font-size: 0.875rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    width: 32.5rem;
  }

  &-skills {
    display: flex;
    &-item {
      padding: 0 0.5rem;
      margin-right: 0.5rem;
      background-color: #617af9;
    }
  }

  &-footer {
    border-top: 2px solid $skills-blue-opacity;
    height: 4rem;
    margin-top: 1.5rem;
    padding-top: 1.3rem;
  }


}
