.customer {
  display: flex;

  &__body {
    background-color: $background-light-gray;
    width: 100%;
  }

  &-body-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.8125rem;
  }


  &__apply-item {
    background-color: $white-color;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.5rem 0 rgba($black-color-specific, 0.15);
    margin-top: 2.5rem;
    min-height: 17rem;
    min-width: 34.5rem;

    &:hover {
      bottom: 0.25rem;
      box-shadow: 0 0.2rem 0.3rem 0.2rem rgba($black-color-specific, 0.1);
      position: relative;
      top: -0.3rem;
    }
  }
}

.apply-card {
  margin: 1.5rem 1rem 0;

  &-head {
    display: flex;
    margin-bottom: 0.75rem;
    min-height: 1.5rem;

    &-title {
      font-size: 1.125rem;
      font-weight: bold;
      width: 30rem;
    }
  }

  &-info {
    display: flex;
    height: 1.5rem;
    justify-content: space-between;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;

    &-type {
      background-color: $background-yellow-light;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.0625rem;
      text-align: center;
      text-transform: uppercase;
      width: 9.5rem;
    }

    &-time {
      color: $black-color-opacity-0-6;
      font-size: 0.75rem;
      max-width: 11rem;
      min-width: 9.4375rem;
    }

  }

  &-body {
    font-size: 0.875rem;
    font-weight: normal;
    height: 2.5rem;
    margin-bottom: 1rem;
    width: 32.5rem;
  }

  &-skills {
    display: flex;
    &-item {
      background-color: $skills-blue-opacity;
      color: $footer-blue;
      font-size: 0.7875rem;
      letter-spacing: 0.0425rem;
      margin-right: 0.5rem;
      padding: 0 0.5rem;
      text-transform: uppercase;
    }
  }

  &-footer {
    border-top: 1px solid $skills-blue-opacity;
    height: 4rem;
    margin-top: 1.5rem;
    padding-top: 1.3rem;
  }
}
