.background-color-empty-card {
  background-color: $background-apply-card-empty;
}

.customer {
  display: flex;

  &__body {
    background-color: $background-light-gray;
    width: 100%;
  }

  &-body-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3.8125rem;
  }


  &__apply-item {
    border-radius: 0.625rem;
    box-shadow: 0 0 0.5rem 0 rgba($black-color-specific, 0.15);
    color: $black-color;
    height: 17rem;
    margin-top: 2.5rem;
    text-decoration: none;
    width: 34.5rem;

    &:hover {
      bottom: 0.25rem;
      box-shadow: 0 0.2rem 0.3rem 0.2rem rgba($black-color-specific, 0.1);
      color: $black-color;
      position: relative;
      text-decoration: none;
      top: -0.3rem;
    }
  }
}

.apply-card {
  margin: 1.5rem 1rem 0;

  &-head {
    display: flex;
    height: 1.5rem;
    margin-bottom: 0.75rem;

    &-title {
      font-size: 1.125rem;
      font-weight: bold;
      width: 30rem;
    }

    &-dots {
      color: $dots-apply-card;
      position: relative;
      font-size: 1.5rem;
      margin-left: auto;
      text-orientation: mixed;
      writing-mode: vertical-rl;

      &:hover {
        background-color: #B00100;
      }
    }
  }

  &-info {
    display: flex;
    height: 1.5rem;
    justify-content: space-between;
    line-height: 1.8rem;
    margin-bottom: 0.75rem;

    &-type {
      background-color: $background-yellow-light;
      font-size: 0.7rem;
      font-weight: 600;
      letter-spacing: 0.0825rem;
      text-align: center;
      text-transform: uppercase;
      width: 9.5rem;
    }

    &-time {
      color: $black-color-opacity-0-6;
      font-size: 0.75rem;
      max-width: 11rem;
      min-width: 9.4375rem;
    }

  }

  &-body {
    font-size: 0.875rem;
    font-weight: normal;
    height: 2.5rem;
    margin-bottom: 1rem;
    width: 32.5rem;
  }

  &-skills {
    display: flex;
    &-item {
      background-color: $skills-blue-opacity;
      color: $footer-blue;
      font-size: 0.7875rem;
      letter-spacing: 0.0425rem;
      margin-right: 0.5rem;
      padding: 0 0.5rem;
      text-transform: uppercase;
    }
  }

  &-footer {
    border-top: 1px solid $skills-blue-opacity;
    display: flex;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.0425rem;
    line-height: 1.125rem;
    margin-top: 1.5rem;
    padding: 1.7rem 0;

    &-new {
      margin-right: 0.5rem;
    }

    &-new_dig {
      background-color: #617af9;
      border-radius: 1rem;
      color: $white-color;
      font-weight: bold;
      margin-right: 2rem;
      margin-top: -0.3rem;
      padding: 0.3rem;
    }

    &-all_apply {
      margin-right: 0.5rem;
    }

    &-all_dig {
      font-weight: bold;
    }

    &-views {
      color: $black-color-opacity-0-6;
      margin-left: auto;
    }

    &-assignes_developer {
      color: $main-blue;
    }

    &-choose_developer {
      color: $black-color-opacity-0-6;
      font-weight: normal;
      margin-right: 1rem;
    }
  }

  &-add_project {
    color: $main-blue;
    font-weight: 600;
    padding-top: 3.3rem;
    text-align: center;

    &-plus{
      font-size: 3rem;
      font-weight: 400;
    }
  }
}
