@font-face {
    font-family: "Open-Sans";
    src: url('OpenSans-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open-Sans";
    src: url('OpenSans-Light.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Open-Sans";
    src: url('OpenSans-SemiBold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}
